*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: beige;
    padding: 50px;
    line-height: 1.5;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 10px;
}

form{
    display: flex;
}

fieldset{
    border-radius: 15px;
    border-color: black;
    padding: 10px;
    background-color: honeydew;
}

legend{
    padding: 0 10px;
    color: blue;
    font-weight: bold;
    font-size: 20px;
}