*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: wheat;
    padding: 20px;
    line-height: 1.5;
}

.topnav{
    background-color: aqua;
    padding: 10px;
    margin-top: 0;
    overflow: hidden;
    margin-bottom: 20px;
}
.topnav a{
    float:left;
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: dashed;
    font-size: 25px;
    font-weight: bold;
    color: black;
}